@{
    ViewBag.Title = "Knockout Lessons";
}


<section class="lessons">
    <ul>
        <li><a href="/Home/T01_Introduction">Introduction</a></li>
        <li><a href="/Home/T02_ListsAndCollections">Lists and Collections</a></li>
        <li><a href="/Home/T03_SinglePageApplications">Single Page Applications</a></li>
        <li><a href="/Home/T04_CreatingCustomBindings">Creating Custom Bindings</a></li>
        <li><a href="/Home/T05_LoadingAndSavingData">Loading and Saving Data</a></li>
    </ul>
</section>